*.o
sv_client
sv_server
tcp_server
tcp_client
baitaptrenlop/info_client
baitaptrenlop/info_server
hw2/udp_file_sender
hw2/udp_file_receiver
hw2/streaming_client
hw2/streaming_server
hw2/udp_file_sender_v2
hw2/udp_file_receiver_v2
